.m-auto
{
    margin: auto;
}
body{
    /* reset styles */
    margin: 0;
    padding: 0;  
}

.ribbon
{
    background-color: black;
    height: 70px;
   color: white; 
   padding: 5px;
   
}
#heading
{
    font-size: 50px;
font-family: Dancing Script,cursive;

}
.option
{
    font-size:  25px;
}
img{
    border-radius: 10px;
margin-top: 20px;

}
span
{
    margin-right: 10px;
}
.post
{
    width: 300px;
}
h3
{
    margin-bottom: 0px;
}