*
{
    padding: 0;
    margin: 0;
    box-sizing: borderbox;
   
    font-family:Arial, Helvetica, sans-serif;
   
}
.container
{
    width: 80%;
    margin: auto;
}
.personal-info
{
    display: flex;

}
.name
{
    margin-top: auto;
    margin-bottom: auto;
}
h1,h2
{
    font-weight:normal;
    color:cornflowerblue;
}
h4
{
    font-size: 20px;
    font-weight:normal;
    color: fuchsia;

}
.marks
{
    display: flex;
    justify-content: space-between;
}
.image
{
    background-image: url(amazontshirt.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;flex-shrink: 0;
}
.bio,.web-links
{
    font-size: large;
}
.web-links
{
    margin-top: auto;
   text-wrap: wrap;
    flex-shrink: 0;
}
ul
{
    list-style-type: none;
}
.name-bio
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    flex-grow: 1;}
.education
{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}
.projects
{
    width: 50%;
    display: flex;
    flex-direction: column;
  
}
.div-edu
{
    padding-right: 10px;
    padding-top: 10px;
}
.main-info
{
    display: flex;
    justify-content: space-between;
}
.contact-info
{
    display: flex;
    justify-content: center;
}
i
{
    padding: 7px;
}
.tech-skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tech
{
    padding: 5px;
    width: 30%;
    margin-top: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(248, 248, 179);
}
@media screen and (max-width:992px){
    .container
    {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:768px){
    .container
    {
        width: 100%;
        margin: auto;
    }
    .personal-info
    {
       flex-wrap: wrap;
    }
}
@media screen and (max-width:600px){
    .education,.projects
    {
        /* width: 100%; */
        display: block;
        margin: auto;
    }
    .main-info{
      display: block;  
    }
    
}