.bg-black
{
    background-color: rgb(52, 49, 49);
}
.c-white
{
    color: white;
}
.c-green
{
    color: #1bb139 ;
}
nav a
{
    
    color: white;
}
.btn
{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
}
.success
{
    background-color: #1bb139;
    color: white;
    border: 1px solid #1bb139 ;
    
    text-decoration: none;
}
/* btn alag se banana hai to make any anchor tag look like a button */